<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://rawgit.com/HenryHall/mtg2/master/public/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div ng-controller="cardDisplay">

      <!-- Demo: Small -->
      <!-- <div style="display: inline-block">
        <p>Small Demo:, Hard-code me!</p>
        <img src="{{displayCard}}" ng-init="getCard('Control Magic')" ng-style="divStyle1"/>
      </div> -->

      <!-- Demo: Medium -->
      <div class='divStyle2' style="display: inline-block">
        <span>Medium Demo:</span><br/>
        <input type="text" name="name" placeholder="Card Name" value="" ng-model="searchIn"><br/>
        <button type="button" ng-click="getCard('')" class="buttonStyle">Get a card.</button>
        <img ng-src="{{displayCard}}" class=imgStyle/>
      </div>

      <p>This is a card I would like to talk about.  It's name is <mtg-text>Verdant Catacombs</mtg-text> and I am very excited to share it with you.</p>


    </div>


    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>

    </script>
  </body>
</html>
